*{
	margin: 0;
	padding: 0;
	
}


body{
    background: cornflowerblue;
	color: white;
}

h2{
	text-align: center;
}

.text-center{
	font-size: 30px;
    margin-bottom: 10px;
}

.navbar{
border: none;
background-color: black;
color: #61122F;
}


.container {
	background-color: grey;
}

.glyphicon {
	font-size: 30px;
	color:#61122F; 
}



#myNavbar ul li a {
	color: #61122F;
}

.navbar-brand{
font-size: 25px;
font-weight: bold;
}